/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
div, section {
  border: 1px solid red;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Georgia, serif;
  font-weight: 400; /*quita negrita*/
}
h1, h2, h3{
  font-family: 'Times New Roman', Georgia, serif;
  font-weight: 100;
}

p {
  font-size: 16px;
  line-height: 1.5;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  color: white;
}
/* Layaot */
.container {
  margin: 0 20px;
}
/* Header */
header .nav-bar ul{
  display: none;
  /* o visibility:hidden*/
  
}
header .slack-logo{
  width: 110px; 
  float: left;
  margin: 10px 0;
}
header .nav-bar .burger-menu-logo{
  width: 30px;
  float: right;
  margin: 14px;
}
header.header{
  overflow: hidden;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  box-shadow: 0 1px 1px rgba(0,0,0,.15);
  background-color: white;
}
main {
  margin-top: 60px;
}

.container h1{
  font-size: 1.9rem;
  font-weight: bold;
  }
  
.container p{
  margin-left: 0;
  font-family: Slack-Averta,appleLogo,sans-serif;
  color: #5b5e6d; 
  margin-right: auto; 
  margin-bottom: 2rem;
}
.typeButton {
  background-color: #3f46ad;
  color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px 20px;  
  margin-top: 15px;
  display: inline-block;
  text-transform: uppercase;
  font-family: Slack-Averta,appleLogo,sans-serif;
}